<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/stylesheet.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="header">
        <div class="header-principal">
          <div class="header-secundario">
            <div class="contenedor-logo">
              <img src="/images/logo-mercado-liebre.svg" alt="Logo" />
            </div>

            <div class="buscador">
              <input type="text" placeholder="Ingrese su busqueda" />
              <div class="icono-busqueda">
                <i class="fas fa-search"></i>
              </div>
            </div>
          </div>

          <p class="center">
            <i class="fas fa-hand-holding-usd icono-parrafo-inicio"></i>Comprá
            en cuotas y sin tarjeta de crédito
          </p>

          <ul class="menu-desktop">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>

          <ul class="login-navbar">
            <li>
              <a href="#"
                >Crear cuenta <i class="far fa-address-card icono-parrafo"></i>
              </a>
            </li>
            <li>
              <a href="#">
                Ingresa <i class="fas fa-sign-in-alt icono-parrafo"></i>
              </a>
            </li>
            <li>
              <a href="#">
                Mis compras <i class="fas fa-shopping-basket icono-parrafo"></i>
              </a>
            </li>
          </ul>

          <div class="flex">
            <div class="burger-menu">
              <i class="fa fa-bars burger"></i>
            </div>
          </div>
        </div>
        <div>
          <img src="/images/img-home-banner.jpg" alt="Banner" width="100%" />
        </div>
      </div>
    </header>

    <main>
      <div class="main">
        <div class="main-container">
          <section>
            <div class="contenedor-lista">
              <div class="contenedor-subtitulo">
                <h3>Basado en tu última visita</h3>
              </div>

              <div class="seccion-articulos">
                <div class="articulo">
                  <div class="articulo-imagen">
                    <img
                      src="/images/img-cafetera-moulinex.jpg"
                      alt="Cafetera"
                      width="100%"
                    />
                  </div>
                  <div class="articulo-descripcion">
                    <div class="icono-camion"><i class="fas fa-truck"></i></div>
                    <div class="articulo-descripcion-precio-desc">
                      <h4>$6.770</h4>
                      <h5 class="descuento">40% OFF</h5>
                    </div>
                    <div class="articulo-descripcion-nombre">
                      <h5>Cafetera Moulinex</h5>
                    </div>
                  </div>
                </div>

                <div class="articulo">
                  <div class="articulo-imagen">
                    <img
                      src="/images/img-macbook-pro-2019.jpg"
                      alt="MacBook"
                      width="100%"
                    />
                  </div>
                  <div class="articulo-descripcion">
                    <div class="icono-camion"><i class="fas fa-truck"></i></div>
                    <div class="articulo-descripcion-precio-desc">
                      <h4>$230.000</h4>
                      <h5 class="descuento">20% OFF</h5>
                    </div>
                    <div class="articulo-descripcion-nombre">
                      <h5>MacBook Pro 2019</h5>
                    </div>
                  </div>
                </div>

                <div class="articulo">
                  <div class="articulo-imagen">
                    <img
                      src="images/img-samsung-galaxy-s10.jpg"
                      alt="Samsung Galaxy S10"
                      width="100%"
                    />
                  </div>
                  <div class="articulo-descripcion">
                    <div class="icono-camion"><i class="fas fa-truck"></i></div>
                    <div class="articulo-descripcion-precio-desc">
                      <h4>$70.500</h4>
                      <h5 class="descuento">10% OFF</h5>
                    </div>
                    <div class="articulo-descripcion-nombre">
                      <h5>Samsung Galaxy S10</h5>
                    </div>
                  </div>
                </div>

                <div class="articulo">
                  <div class="articulo-imagen">
                    <img
                      src="images/img-tv-samsung-smart.jpg"
                      alt="Smart tv"
                      width="100%"
                    />
                  </div>
                  <div class="articulo-descripcion">
                    <div class="icono-camion"><i class="fas fa-truck"></i></div>
                    <div class="articulo-descripcion-precio-desc">
                      <h4>$23.200</h4>
                      <h5 class="descuento">5% OFF</h5>
                    </div>
                    <div class="articulo-descripcion-nombre">
                      <h5>SmartTv Samsung 43"</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section>
            <div class="contenedor-lista">
              <div class="contenedor-subtitulo">
                <h3>Ofertas</h3>
              </div>

              <div class="seccion-articulos">
                <div class="articulo">
                  <div class="articulo-imagen">
                    <img
                      src="/images/img-cafetera-moulinex.jpg"
                      alt="Cafetera"
                      width="100%"
                    />
                  </div>
                  <div class="articulo-descripcion">
                    <div class="icono-camion"><i class="fas fa-truck"></i></div>
                    <div class="articulo-descripcion-precio-desc">
                      <h4>$6.770</h4>
                      <h5 class="descuento">40% OFF</h5>
                    </div>
                    <div class="articulo-descripcion-nombre">
                      <h5>Cafetera Moulinex</h5>
                    </div>
                  </div>
                </div>

                <div class="articulo">
                  <div class="articulo-imagen">
                    <img
                      src="/images/img-macbook-pro-2019.jpg"
                      alt="MacBook"
                      width="100%"
                    />
                  </div>
                  <div class="articulo-descripcion">
                    <div class="icono-camion"><i class="fas fa-truck"></i></div>
                    <div class="articulo-descripcion-precio-desc">
                      <h4>$230.000</h4>
                      <h5 class="descuento">20% OFF</h5>
                    </div>
                    <div class="articulo-descripcion-nombre">
                      <h5>MacBook Pro 2019</h5>
                    </div>
                  </div>
                </div>

                <div class="articulo">
                  <div class="articulo-imagen">
                    <img
                      src="images/img-samsung-galaxy-s10.jpg"
                      alt="Samsung Galaxy S10"
                      width="100%"
                    />
                  </div>
                  <div class="articulo-descripcion">
                    <div class="icono-camion"><i class="fas fa-truck"></i></div>
                    <div class="articulo-descripcion-precio-desc">
                      <h4>$70.500</h4>
                      <h5 class="descuento">10% OFF</h5>
                    </div>
                    <div class="articulo-descripcion-nombre">
                      <h5>Samsung Galaxy S10</h5>
                    </div>
                  </div>
                </div>

                <div class="articulo">
                  <div class="articulo-imagen">
                    <img
                      src="images/img-tv-samsung-smart.jpg"
                      alt="Smart tv"
                      width="100%"
                    />
                  </div>
                  <div class="articulo-descripcion">
                    <div class="icono-camion"><i class="fas fa-truck"></i></div>
                    <div class="articulo-descripcion-precio-desc">
                      <h4>$23.200</h4>
                      <h5 class="descuento">5% OFF</h5>
                    </div>
                    <div class="articulo-descripcion-nombre">
                      <h5>SmartTv Samsung 43"</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>

    <footer>
      <div class="footer">
        <div class="footer-texto">
          <div class="foter-texto-icono">
            <i class="fas fa-credit-card"></i>
          </div>
          <div class="footer-texto-titulo">
            <h4 class="center">Pagá con tarjeta o en efectivo</h4>
          </div>
          <div class="footer-texto-descripcion">
            <p class="center">
              Con MercadoLiebreCash tenes cuotas sin interes con tarjeta o
              efectivo en puntos de pago ¡Y siempre es seguro!
            </p>
          </div>
        </div>

        <div class="footer-texto">
          <div class="foter-texto-icono">
            <i class="fas fa-gift"></i>
          </div>
          <div class="footer-texto-titulo">
            <h4 class="center">Envio gratis desde los $2.500</h4>
          </div>
          <div class="footer-texto-descripcion">
            <p class="center">
              Solo por estar registrado en MercadoLiebre tenes envios gratis en
              miles de productos. Es un beneficio de Mercado Puntos.
            </p>
          </div>
        </div>

        <div class="footer-texto">
          <div class="foter-texto-icono">
            <!-- no andaba el icono de seguridad -->
            <i class="fas fa-shield-alt"></i>
          </div>
          <div class="footer-texto-titulo">
            <h4 class="center">Seguridad, de principio a fin</h4>
          </div>
          <div class="footer-texto-descripcion">
            <p class="center">
              ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
              puedas hacer, porque estás siempre protegid@.
            </p>
            <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
